<router-outlet></router-outlet>

<!-- <button (click)="createUser()" >Create User</button>
<app-products></app-products>
<p>
  <button (click)="downLoadPdf()" >Descargar pdf</button>
</p>

<p>
  <input type="file" (change)="onUpload($event)">
  <img *ngIf="imgRta" [src]="imgRta" alt="">
</p> -->
<!-- ng model para tomar los datos del input -->
<!-- <p><input type="text" [(ngModel)]="imgParent"></p> -->

<!-- boton para destuir el componente de counter -->
<!-- <button (click)="toggleImage()">Toggle Img</button>
<p> {{ showImg }} </p> -->
<!-- loaded es un evento como el de click y este a su vez puede recibir otro evento como lo es el console.loh que dice que imagen recibio-->
<!-- <app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img> -->
